.flex{
    color: white;
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: 660px 660px;
    grid-template-rows: 569px;
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 100%, 74%);
    background-image: url(../img/bg-intro-desktop.png);
}

.contenedor-1{
    padding: 36px 26px 29px 58px;
    margin: 129px 41px 84px 104px;
    width: 481px;
    height: 315px;
}
  
.titulo{
    padding: 4px 14px 4px 20px;
    margin: 23px 20px 3px 19px;
    font-size: 37px;
    line-height: 1.2;
    text-align: center;
}
  
.parrafo{
    font-weight: 400;
    font-size: 12px;
    padding: 1px 8px 20px 80px;
    margin: 18px 10px 19px 10px;    
    line-height: 1.5;
}
  
.cambio{
    margin: 10px;
}
  
.negrilla{
    border: 1px solid hsl(248, 32%, 49%);
    background-color: hsl(248, 32%, 49%);    
    font-size: 12px;
    border-radius: 8px;
    width: 314px;
    margin: 61px 4px 17px 27px;
    padding: 14px 50px 14px 50px;
    text-align: center;
}
.contenedor-input{
    border: 1px solid white;
    background: white;
    border-radius: 8px;
    width: 370px;    
    margin: 5px 5px 5px 27px;
    padding: 21px;
}

.input{
    border: 1px solid  hsl(246, 25%, 77%);
    color: black;
    font-weight: 400;
    border-radius: 4px;    
    padding: 13px;
    width: 316px;
 }

#spN{
    color: hsl(0, 100%, 74%);
    font-size: 10px;
    margin-left: 193px;
    font-style: italic;
}
#spL{
    color: hsl(0, 100%, 74%);
    font-size: 10px;
    margin-left: 193px;
    font-style: italic;
}
#spE{
    color: hsl(0, 100%, 74%);
    font-size: 10px;
    margin-left: 191px;
    font-style: italic;
}
#spP{
    color: hsl(0, 100%, 74%);
    font-size: 10px;
    margin-left: 197px;
    font-style: italic;
}
  
.boton-claim{
    background-color: hsl(154, 59%, 51%);
    border: 1px solid hsl(154, 65%, 40%);
    color: white;
    font-size: 13px;
    border-radius: 4px;
    width: 344px;
    margin: 11px 12px 14px 14px;
    padding: 15px 80px 15px 80px;
    text-align: center;
    font-weight: bold;
}
.boton-claim:hover {
    background-color: hsl(154, 68%, 59%);
}
  
.footer{
    color: hsl(249, 10%, 26%);
    margin: 1px;
    font-size: 8px;
    text-align: center;
}
  
.link{
    color: hsl(0, 100%, 74%);
    font-weight: bold;
}
  
.is-invalid{
    border: 2px solid hsl(0, 100%, 74%);
    background-image: url('../img/icon-error.svg');
    background-repeat: no-repeat;
    background-position-x: 302px;
    background-position-y: center;
    background-size: 20px;      
}
  
.id-email::-webkit-input-placeholder{
    color: hsl(0, 100%, 74%);
}
.hideProp{
    display: none; 
}
.is-valid{
  border: 1px solid  hsl(246, 25%, 77%);
  background-image: none;
}
@media (max-width: 400px) {
    .flex{
        display: flex;
        flex-wrap: wrap;
    }
    .contenedor-1{
        margin: 0px;
        padding: 0px;
        height: auto;
        width: auto;        
    }
    .titulo{
        padding: 4px 14px 4px 14px;
        margin: 66px 15px 3px 15px;
        font-size: 30px;        
    }
    .parrafo{
        font-size: 12px;
        padding: 10px;
        margin: 20px;
        text-align: center;
    }
    .negrilla{
        width: 333px;
        margin-left: 7px;
        margin-top: 21px;
        padding: 14px 10px 14px 10px;
    }
    .contenedor-input{
        width: 309px;
        margin: 5px 5px 5px 8px;
    }
    .input{
        width: 266px;
    }
    .boton-claim{
        width: 293px;
        margin: 11px 12px 14px 12px;
        padding: 15px 50px 15px 50px;
    }
}